.title {
    .header12 {
      font-size: 3rem;
      font-weight: 600;
      line-height: normal;
    }
    .paragraph {
      font-size: 1.125rem;
      line-height: normal;
      max-width: 370px;
      width: 100%;
  }
}

.view {
  color: #0D131A;
  font-family: var(--general);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
  

